
body {
    font-family: "Montserrat", sans-serif;
}

header {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #D7E1ED;
    padding-right: 200px;
    padding-left: 200px;
    margin-left: -10px;
    margin-right: -10px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 450px;
    padding-top: 150px;
}

@media (max-width: 800px) {
    header {
        padding-left: 5px;
        padding-right: 5px;
    }
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 40px;
}

.hero-tagline {
    padding-top: none;
    font-size: 24px;
    width: 45%;
}

@media (max-width: 800px) {
    .hero-tagline {
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
    }
}

button {
    border: none;
    background-color: #8842FA;
    color: white;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    transition-duration: 0.4s;
    font-size: 16px;
}

button:hover {
    background-color: #9c61fb;
}

button a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
}

/* Navbar links */
.navbar ul {
    list-style-type: none;
    margin-right: 190px;
    display: flex;
}

.navbar ul li {
    margin: 0 15px;
}

@media (max-width: 800px) {
    .navbar ul {
        margin-right: 5px;
    }
}

.navbar ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

.navbar .brand {
    color: black;
    font-size: 24px;
    font-weight: bold;
    font-family: "Courier Prime", sans-serif;
    text-decoration: none;
    margin-left: 200px;
}

@media (max-width: 800px) {
    .navbar .brand {
        margin-left: 5px;
    }
}

/* footer stuff */

.footer-container {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    justify-content: center;
}

.footer-blurb {
    display: flex;
    justify-content: center;
    font-style: italic;
}

.footer-icons {
    display: flex;
    background-color: white;
}

.footer-icons ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 100%;
}

.footer-icons ul li {
    margin: 10px;
}